.logon-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

@media (max-width: 425px) {

    .logon-container {
        width: 90% !important;
    }
}