* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-inp {
    width: 45em;
    margin: 0 0 2em 0;
    height: 2em;
}